# Ejemplo para levantar un segundo servidor en la MISMA computadora.
HOST=0.0.0.0
PORT=3001
SERVER_ID=server-2

POSTGRES_USER=chatuser
POSTGRES_PASSWORD=chatpass
POSTGRES_DB=chatdb
DATABASE_URL=postgresql://chatuser:chatpass@localhost:5432/chatdb

REDIS_PASSWORD=chat_redis_password
REDIS_URL=redis://:chat_redis_password@localhost:6379

MAX_HISTORY=300
MAX_MESSAGE_LENGTH=300
RATE_LIMIT_WINDOW_MS=10000
RATE_LIMIT_MAX_MESSAGES=30
HEARTBEAT_INTERVAL_MS=30000
