# Ejemplo para levantar un segundo servidor en OTRA computadora.
# Cambia 192.168.137.1 por la IP real de la computadora que tiene PostgreSQL y Redis.
HOST=0.0.0.0
PORT=3001
SERVER_ID=server-2-laboratorio

DATABASE_URL=postgresql://chatuser:chatpass@192.168.137.1:5432/chatdb
REDIS_URL=redis://:chat_redis_password@192.168.137.1:6379

MAX_HISTORY=300
MAX_MESSAGE_LENGTH=300
RATE_LIMIT_WINDOW_MS=10000
RATE_LIMIT_MAX_MESSAGES=30
HEARTBEAT_INTERVAL_MS=30000
